.container {
    background-color: #CBD1D7AA;
    padding-bottom: 2rem;
}
.container h1 {
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem 0;
    color: #002147;
}
.content_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

.result_box {
    flex: 0 1 800px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}

.select_box {
    flex: 0 0 150px;
    margin: 10px 25px;
    text-align: center;
    border: 5px solid #BB133E;
    color: #BB133E;
    font-weight: bold;
    height: 150px;
    border-radius: 20px;
    /* background-color: #FFFFFF77; */
    background-color: white;
}

.select_box_text {
    font-size: 1.1rem;
}

.select_box:hover {
    cursor: pointer;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .container {
      background-color: #CBD1D7AA;
    }
    .container h1 {
        font-size: 1.5rem;
    }
    
    .select_box {
        margin: 10px 10px;
        flex: 0 0 150px;
        height: 150px;
    }
    .result_box {
        flex: 0 1 95%;
        height: 150px;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    
  }
  