
.container {
  background-color: #CBD1D7;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .15vw;
  align-items: center;
}

.footer_container {
  border-top: 2px solid #002147;
}

.branch_container {
  display: flex;
  flex-direction: row;
}

.branch_row {
  display: flex;
  flex-direction: row;
}

.United_logo_container {
  display: flex;
  flex-direction: row;
  width: min(max(1vw,175px),100px);
  padding: 0 1vw 0 1vw;
}

.chattunite_logo_container {
  display: flex;
  flex-direction: row;
  width: min(max(1vw,175px),100px);
  padding: 0 1vw 0 1vw;
}

.link_container {
  color:#002147;
  font-size: 12pt;
  width: 100%;
}

.link_container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    min-height: 70px;
    padding: 0 1vw 0 1vw;
}

.copyright_container {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#002147;
  margin: 0 auto;
  font-size: 8pt;
}

.army{
  margin-left: 25px;
}

.navy{
  margin-left: auto;
}

.marine{
  margin-left: 25px;
}

.coastgaurd{
  margin-left: 25px;
}

.airforce{
  margin-left: 25px;
}

.spaceforce{
  margin-left: 25px;
}

@media only screen and (max-width: 600px) {
  .link_container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    min-height: 70px;
    text-align: left;
  }
  .container {
    align-items: left;
    justify-content: left;
  }

  .army{
    margin-left: 5px;
  }
  
  .navy{
    margin-left: auto;
  }
  
  .marine{
    margin-left: 5px;
  }
  
  .coastgaurd{
    margin-left: 5px;
  }
  
  .airforce{
    margin-left: 5px;
  }
  
  .spaceforce{
    margin-left: 5px;
    margin-right: 5px;
  }
}