.container {
  background-color: #CBD1D7;
  color:white;
  font-size: 18px;
  font-weight: bold;
  width: 100vw;
  min-height: 13vh;
  position: relative;
}

.navy {
  position: absolute;
  top: 20%;
  left: 4%;
}

.airforce {
  position: absolute;
  top: 40%;
  left: 3.75%;
}

.army {
  position: absolute;
  top: 60%;
  left: 4%;
}

.marine {
  position: absolute;
  top: 20%;
  left: 5.5%;
}

.spaceforce {
  position: absolute;
  top: 40%;
  left: 5.5%;
}

.coastgaurd {
  position: absolute;
  top: 60%;
  left: 5.5%;
}

.unitedway{
  position: absolute;
  top: 5%;
  left: 75%;
}

.twoOneOne{
  position: absolute;
  top: 5%;
  left: 85%;
}

.chattunite{
  position: absolute;
  top: 50%;
  left: 85%;
}