.container {
  background-color: #CBD1D7;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw;
  align-items: center;
}

.branch_container {
  display: flex;
  flex-direction: row;
}

.branch_columns {
  display: flex;
  flex-direction: column;
}

.logo_container {
  display: flex;
  flex-direction: row;
}