html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: min(max(5vw, 35px), 50px);
  color: #002147;
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

.blueBackground {
  background-color: #002147CC;
}

.grayBackground {
  background-color: #CBD1D7DD;
}

.blueBackground, .grayBackground {
  height: fit-content;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
  padding: 1vw;
  font-family: Arial, sans-serif;
  position: relative;
}

.unitedWay {
  padding:1vw;
}

.white_decoration, .blue_decoration {
  height: min(max(1vw, 8px), 10px);
  width: min(max(10vw, 50px), 75px);
  border-radius: 25px;
  margin: 1vw;
  min-width: 50px;
  min-height: 5px;
}

.white_decoration{
  background-color: white;
}

.blue_decoration{
  background-color: #002147;
}

.title_light, .title_dark {
  font-size: min(max(4vw, 25px), 40px);
  margin: 1vw;
  font-weight: lighter;
}

.title_dark {
  color: #002147;
}

.title_light {
  color: white;
}

.description_dark, .description_light, .description_dark p, .description_light p {
  font-size: min(max(3vw, 12px), 20px);
  line-height: min(max(2vw, 20px), 40px);
  padding: 1vw;
  max-width: 75%;
  min-width: 300px;
}

.description_light {
  color: white;
}

.description_dark{
  color: #002147CC;
}

.corners {
  background: linear-gradient(#BB133E, #BB133E) 0 0, linear-gradient(#BB133E,#BB133E) 0 0, linear-gradient(#BB133E,#BB133E) 100% 100%, linear-gradient(#BB133E,#BB133E) 100% 100%, #ccc;
  background-size: 50px 2px,2px 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 1vw;
  width: 25%;
  min-width: 300px;
  font-size: 1rem;
  line-height: 2rem;
}

.cornersPages {
  background: linear-gradient(#BB133E, #BB133E) 0 0, linear-gradient(#BB133E,#BB133E) 0 0, linear-gradient(#BB133E,#BB133E) 100% 100%, linear-gradient(#BB133E,#BB133E) 100% 100%, #ccc;
  background-size: 50px 2px,2px 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 1vw;
  width: 15%;
  min-width: 300px;
  font-size: 1rem;
  line-height: 2rem;
}

.centered {
  align-items: center;
  text-align: center;
}

.sub_title_text_centered {
  color: white;
  font-size: 1.75vw;
  text-decoration: underline;
  text-align: center;
}

.text_centered {
  color: white;
  font-size: 1.5vw;
  text-align: center;
}

.sub_text_centered {
  font-size: 1.5vw;
}

.col1 {
  column-count: 2;
  column-gap: 25px;
}

.col2 {
  float: left;
  width: 200px;
  margin-left: 30px;
}


.right {
  float: right;
  text-align: right;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.left {
  float: left;
  text-align: left;
}

.btn_outline_dark {
  border-radius: 15px;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 1rem;
  width: 250px;
  cursor: pointer;
}

.btn_outline_dark {
  background-color: #002147CC;
  color: white;
  border: 5px solid white;
}

.btn_outline_dark:hover {
  background-color: #002147;
}

.right > img, .left > img {
  position: absolute;
  bottom:0;
  max-height:100%;
  max-width:25%;
  object-fit:cover;
  width: min(max(25vw, 115px), 250px);
}

.left > img {
  left:0;
}

.right > img {
  right:0;
}

.imageContainerHead {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  text-align: center;
  position: relative;
}

.leftImageHead {
  position: absolute;
  right: 0;
  margin-right: -15vw;
}

.rightImageHead {
  position: absolute;
  left: 0;
  margin-left: -15vw;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: min(max(5vw, 35px), 50px);
  color: #002147;
  text-align: center;
  font-family: Arial, sans-serif;
} 
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .imageContainerHead img {
    max-width: 80%;
    height: auto;
    width: 40px;
  }
}