html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.5rem;
  color: #002147;
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1400px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.blueBackground {
  background-color: #002147CC;
  border-top: 2px solid #002147;
  border-bottom: 2px solid #002147;
}

.grayBackground {
  background-color: #CBD1D7DD;
  border-top: 2px solid #002147;
  border-bottom: 2px solid #002147;

}

.grayBackgroundHead {
  background-color: #CBD1D7DD;
  display: flex;
  border-bottom: 2px solid #002147;
}

.blueBackground, .grayBackground, .grayBackgroundHead {
  height: fit-content;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
  padding: 1vw;
  font-family: Arial, sans-serif;
  position: relative;
}

.titleBackground > img {
  position: absolute;
  bottom:0;
  right:0;
  z-index: -1;
  height:100%;
  width:100%;
  object-fit:cover;
}

.unitedWay {
  padding:1vw;
}

.white_decoration, .blue_decoration {
  height: min(max(1vw, 8px), 10px);
  width: min(max(10vw, 50px), 75px);
  border-radius: 25px;
  margin: 1vw;
  min-width: 50px;
  min-height: 5px;
}

.white_decoration{
  background-color: white;
}

.blue_decoration{
  background-color: #002147;
}

.title_light, .title_dark {
  font-size: 3rem;
  margin: 1vw;
  font-weight: lighter;
}

.title_light > h2, .title_dark > h2 {
  font-size: 2rem;
  font-weight: lighter;;
}

.title_dark {
  color: #002147;
}

.title_light {
  color: white;
}

p {
  font-size: 1.5rem;
}

.description_dark, .description_light/*, .description_dark p, .description_light p */{
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1vw;
  max-width: 75%;
  min-width: 300px;
}

.description_light {
  color: #e6e6e6;
}

.description_dark{
  color: #002147CC;
}

.indent, .indent > a {
  margin-left: 2rem;
  font-weight: bold;
}

.corners {
  background: linear-gradient(#BB133E, #BB133E) 0 0, linear-gradient(#BB133E,#BB133E) 0 0, linear-gradient(#BB133E,#BB133E) 100% 100%, linear-gradient(#BB133E,#BB133E) 100% 100%, #ccc;
  background-size: 50px 2px,2px 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 1rem;
  width: 500px;
  min-width: 300px;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  margin: 1rem;
}

.cornersPages {
  background: linear-gradient(#BB133E, #BB133E) 0 0, linear-gradient(#BB133E,#BB133E) 0 0, linear-gradient(#BB133E,#BB133E) 100% 100%, linear-gradient(#BB133E,#BB133E) 100% 100%, #ccc;
  background-size: 50px 2px,2px 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 400px;
  min-width: 250px;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.centered {
  align-items: center;
  text-align: center;
}

.sub_title_text_centered {
  color: white;
  /* font-size: 1.75vw; */
  font-size: 1.5rem;
  text-decoration: underline;
  text-align: center;
}

.text_centered {
  color: white;
  /* font-size: 1.5vw; */
  font-size: 1.5rem;
  text-align: center;
}

.sub_text_centered {
  /* font-size: 1.5vw; */
  font-size: 1.5rem;
}

.col1 {
  column-count: 2;
  column-gap: 25px;
}

.col2 {
  float: left;
  width: 200px;
  margin-left: 30px;
}


.right {
  float: right;
  text-align: right;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.left {
  float: left;
  text-align: left;
}

.btn_outline_dark {
  border-radius: 15px;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 1rem;
  width: 250px;
  cursor: pointer;
}

.btn_outline_dark {
  background-color: #002147CC;
  color: white;
  border: 5px solid white;
}

.btn_outline_dark:hover {
  background-color: #002147;
}

.right > img, .left > img {
  position: absolute;
  bottom:0;
  max-height:100%;
  max-width:25%;
  object-fit:cover;
  width: min(max(25vw, 100px), 300px);
  height: auto;
}

.left > img {
  left:0;
}

.right > img {
  right:0;
}

/*.half > img {
  position: absolute;
  bottom:0;
  max-height:100%;
  max-width:45%;
  object-fit:cover;
  width: 45%;
  height: auto;
  right: 0;
}

.half {
  max-width: 55%;
}

.half > .description_light {
  max-width: 100%;
}*/

/*.imageContainerHead {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}*/

.link_dark {
  border-bottom: 2px solid #002147CC;
  padding-bottom: 2px;
}

.link_dark:hover {
  border-bottom: 2px solid #002147;
  color: #002147;
}

.link_light {
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 2px;
}

.link_light:hover {
  border-bottom: 2px solid white;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/*h1 {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.5rem;
  color: #002147;
  text-align: center;
  font-family: Arial, sans-serif;
} */
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.red-text {
  color:rgb(177, 0, 0);
}

.bold-text {
  font-weight: bold;
}

/*@media only screen and (max-width: 1100px) { 
  .red {
    font-size: 1.5rem;
  }
  .vetImg {
    display: none;
  }
}*/

/*@media (min-width: 767px) {
  .imageContainerHead img {
    max-width: 100%;
    height: auto;
  }
  
  .rightImageHead {
    max-width: 100%;
    right: 20vw;
  }

  .leftImageHead {
    max-width: 20%;
    left: 20vw;
  }
}

@media (max-width: 767px) {
  .rightImageHead {
    max-width: 18%;
    right: 5.4vw;
  }

  .leftImageHead {
    max-width: 17.8%;
    left: 5.4vw;
  }
}*/

@media only screen and (max-width: 600px) {
  /*.rightImageHead {
    display: none;
  }
  
  .leftImageHead {
    display: none; 
  }*/

  .vetImg {
    display: none;
  }

  /*.half {
    max-width: 95%;
    margin: 10px auto;
    padding: 0 10px 10px 10px;
  }*/

  .title {
    padding-top: 1rem;
    font-size: 1.75rem;
    max-width: 95%;
    margin: auto;
  }
  .title_light, .title_dark {
    font-size: 1.75rem;
    max-width: 95%;
    padding: 10px;
    margin: auto;
    text-align: center;
  }

  .title_light > h2, .title_dark > h2 {
    font-size: 1.4rem;
    margin-bottom: -15px;
  }

  p {
    font-size: 1.25rem;
  }
  .description_dark, .description_light, .description_dark p, .description_light p {
    font-size: 1.25rem;
    max-width: 95%;
    margin: 10px auto;
    line-height: 1.5rem;
    padding: 0 10px 10px 10px;
    text-align: left;
  }
  .grayBackgroundHead {
    padding: 0;
  }
  .white_decoration, .blue_decoration {
    display: none;
  }

  .corners.description_dark {
    text-align: left;
    padding: 10px;
  }

  .contact {
    text-align: center;
  }

  /*.cornersPages.description_dark {
    text-align: center;
  }*/
}