.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  text-align: center;
}

.card:hover,
.card:focus,
.card:active {
  color: #002147;
  border-color: #002147;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.red {
  color: #BB133E;
  font-size: min(max(3vw, 15px), 20px);
}

.bold {
  font-weight: bold;
  font-size: large;
}

.call_text{
  font-size: 1rem;
  line-height: 2rem;
  padding: 1vw;
  max-width: 75%;
  min-width: 300px;
  color: #002147CC;
}

.titleBackground > img {
  position: absolute;
  bottom:0;
  right:0;
  z-index: -1;
  height:100%;
  width:100%;
  object-fit:cover;
}