.container {
    background-color: #002147;
    color:white;
    font-size: 18px;
    font-weight: bold;
    width: 100vw;
}

.container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80px;
    margin: 0;
    padding: 0;
}

.container li {
    margin-right: 1rem;
}

.container li:hover {
    color:rgb(199, 199, 199);
}