.container_box {
    flex: 1 1 800px;
    display: flex;
    flex-direction: row;
    min-height: 150px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 5px solid #002147;
    overflow: hidden;
}

.logo {
    width: 150px;
    height: 100%;
    background-color: rgb(216, 216, 216);
    background-size: 100% 100%;
}

.providerContacts {
    width: 100%;
}

.providerDetails {
    padding-left: 10px;
    width: 100%;
}

.providerName {
    font-size: 1.7rem;
    font-weight: bold;
    color: #002147;
    width: 100%;
}

.contactsRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contactsWebsite {
    font-size: 1.4rem;
}

.contactsRow div {
    margin-right: 10px;
}
.contactPhone {
    text-align: right;
    padding-right: 10px;
}
/* .contactAddress {
    padding-bottom: 8px;
} */
.contactEmail {
    padding-bottom: 8px;
    text-align: right;
}
.bold {
    font-weight: bold;
    font-size: 1rem;
}
.blue {
    color: #002147;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .container_box {
        flex: 1 1 95%;
        min-height: 150px;
        max-width: 95%;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .logo {
        display: none;
    }
    .contactPhone {
        text-align: left;
    }
    
  }